.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 40%;
    height: auto;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    overflow: hidden;
    padding: 16px;
  }

  
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .icon {
    float: right;
  }

  .modal-main::after {content: ""; clear: both; display: table;}